
* {
  margin: 0;
  background-color: var(--background-color);
  font-family: Roboto, Helvetica, Sans-Serif;
  }

  #root {
    padding: 0 23.5rem;
    height: 100vh;
  }

  :root{
    --background-color: #F7F7F7;
    --primary-color: #FC7C57;
    --error: red;
    --white-color: #fff;
    --black-color: #000;
  }